<html lang="en">
<head>
	<meta charset="UTF-16">
	<title>Ren's Playpen: Poke the Bird</title>
	<link rel="stylesheet" type="text/css" href="/css/Bird.css">
</head>
<body>
	
	<a href="#"><img id="logo-1" src="/images/logo-1.png"></a>
	<a href="#"><img id="logo-2" src="/images/logo-2.png"></a>
	
	<div id = "nav">
		<p id = "navtitle" >Nifty Links</p>
		<a href="/">Home</a>
		<br>
		<a href="/games">Play Games</a>
		<br>
		<a href="/register">Register</a>
		<br>
		<a href="/login">Login</a>
		<br>
		<a href="/ladderboard">Ladderboard</a>
		<br>
		<a href="/contact">Contact Us</a>
		<br>
		<a href="/about">About Us</a>
		<br>
	</div>
	
	<div id = "birdDiv"> 
		<h1>Poke the Bird</h1>
		<h3>As many times as you can. You know you want to.</h3>
		<a><img id="birdy" src="/images/bird-1.png"></a>
		<form id="record" action = "/Score" method = "POST">
			<input id="userName" type="hidden" name="username">
			<input id="score" type="hidden" name="score">
		</form>
		<script src = "/js/bird.js"></script>
	</div>
	
	<!-- Four-div technique for thicc borders around the page  -->
	<div id="left"></div>
	<div id="right"></div>
	<div id="top"></div>
	<div id="bottom"></div>
	
	<iframe id = "dummyFrame"></iframe>
</body>

</html>