<html lang="en">
<head>
	<meta charset="UTF-16">
	<title>Ren's Playpen: Home</title>
	<link rel="stylesheet" type="text/css" href="/css/Index.css">
</head>
<body>
	
	<a href="#"><img id="logo-1" src="/images/logo-1.png"></a>
	<a href="#"><img id="logo-2" src="/images/logo-2.png"></a>
	
	<div id = "nav">
		<p id = "navtitle" >Nifty Links</p>
		<a href="/">Home</a>
		<br>
		<a href="/games">Play Games</a>
		<br>
		<a href="/register">Register</a>
		<br>
		<a href="/login">Login</a>
		<br>
		<a href="/ladderboard">Ladderboard</a>
		<br>
		<a href="/contact">Contact Us</a>
		<br>
		<a href="/about">About Us</a>
		<br>
	</div>
	
	<div id="blurb"> 
		<h1>Ren's Playpen</h1>
		<h2>Home to games n' stuff</h2>
		<h3>Play games while browsing - now you can procrastinate while procrastinating!</h3>
		<h4>Want more games n' stuff? Love the site and would like to support future development? Buy me a <a href="https://ko-fi.com/">coffee</a>
	</div>
	
	<!-- Four-div technique for thicc borders around the page  -->
	<div id="left"></div>
	<div id="right"></div>
	<div id="top"></div>
	<div id="bottom"></div>
	
	
</body>
</html>